body, html {
    margin: 0;
}

header {
    width: 100%;
    padding: 20px;
    padding-bottom: 30px;
    background: rgb(0,0,68);
    background: linear-gradient(143deg, rgba(0,0,68,0.9) 5%, rgba(0,0,68,1) 97%);
}

header img {
    max-width: 200px;
    display: block;
    float: left;
}

header nav {
    margin-top: 27px;
}

header nav.right {
    float: right;
}

header nav.left {
    display: block;
    float: left;
    margin-left: 50px;
}

header nav .btn-link {
    color: white;
}

header nav .btn-link:hover {
    color: white;
}

.big-photo {
    width: 100%;
    height: 400px;
    min-height: 65%;
    background-position: center;
    background-size: cover;
    font-size: 25px;
    text-align: center;
}

#photo1 {
    background-image: url('../images/bg1.jpg');
}

main {
    width: 1500px;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 150px;
    padding: 20px;
}

article {
    background: rgb(238,238,238);
    background: linear-gradient(143deg, rgba(238,238,238,1) 5%, rgba(199,199,199,1) 97%);
    border-radius: 7px;
    margin-bottom: 20px;
    padding: 20px;
}

.clear {
    clear: both;
}

footer {
    background: rgb(0,0,68);
    background: linear-gradient(143deg, rgba(0,0,68,0.9) 5%, rgba(0,0,68,1) 97%);
    margin-bottom: 0;
    height: 150px;
    color: white;
    padding: 30px;
}

footer p {
    margin: 5px 0;
}

footer .left {
    float: left;
}

footer .right {
    float: right;
    text-align: right;
}
